<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ange.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ange.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <applicationSettings>
    <Ange.Properties.Settings>
      <setting name="Erza" serializeAs="String">
        <value>data source=C:\\utils\\data\\Erza.sqlite</value>
      </setting>
    </Ange.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Ange.Properties.Settings>
      <setting name="LocationWindow" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="SizeWindow" serializeAs="String">
        <value>1299, 729</value>
      </setting>
      <setting name="similar" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PreviewPath" serializeAs="String">
        <value>D:\previews</value>
      </setting>
    </Ange.Properties.Settings>
  </userSettings>
</configuration>
