<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Moka.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings/>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <userSettings>
    <Moka.Settings1>
      <setting name="ConnectionString" serializeAs="String">
        <value>data source=C:\Users\Macs\Dropbox\utils\Erza\erza.sqlite</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value>macsimbelous</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>050782</value>
      </setting>
      <setting name="gelbooru" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="danbooru" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="konachan" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="imouto" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sankaku" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="is_deleted_dir" serializeAs="String">
        <value>C:\temp\is_deleted</value>
      </setting>
    </Moka.Settings1>
  </userSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
</configuration>
